body{
    margin: 0;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{
    color: rgb(29, 4, 27);
}
.h1c{
    color: rgb(99, 21, 114);
}
section{
    display: flex;
    margin-bottom: 300px;
}


.a{
    
    padding-left: 150px;
    padding-top: 80px;
    width: 50%;
}
.a img{
    
    padding-left: 200px;
    padding-top: 50px;
    width: 40%;
    
}
.hbutton{
    text-decoration: none;
   
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    background-image: linear-gradient(orange, rgb(233, 95, 233));
    padding: 10px 40px;
    border-radius: 20px;
}
.hire{
    color:rgb(3, 26, 31);
}
.page1{
    
    background-image: url(img/cvv.png);
    background-repeat: no-repeat;
}
.page2{
    background-image: url(img/pp2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.b{
    
    padding-left: 150px;
    padding-top: 100px;
    width: 50%;
}
.b img{
    
    padding-left: 10px;
    padding-top: 10px;
    width: 40%;
    